body{
    background-color:gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

.container{  
    background-color: white;
    padding: 20px;
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

.name{
    text-transform: uppercase;
}

.profile{
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.fb_link{
    border:solid white 1px;
    color: cornflowerblue;
    text-decoration: none;
    font-size: larger;
}

.fb_link:hover{
    border: solid cornflowerblue 1px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 30px;
}

.facebook_icon{
    height: 20px;
}

